<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
  <title>
    Expense History System
  </title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
        $("#login").click(function(event){
            email = $("#email").val()
            password = $("#password").val()

            if(email.length <= 0){
                return 0;
            }
            
            if(password.length <= 0){
                return 0;
            }

            event.preventDefault();
            $.ajax({
            method: "POST",     
            url: "/post/user/login", 
            datatype: "JSON",
            data: {"email": email,
                   "password": password
                  },
            crossdomain: true,
            success: function(response){
              window.location.replace(response.url);
            },
            error: function(error){
                    console.log(error);
            }
    });
});
});
</script>

<section class="section section-login">
            <div class="valign-wrapper row login-box">
                    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
                      <form  method="POST" action="/post/user/login">
                        <div class="card-content">
                          <span class="card-title">Enter login details</span>
                          <div class="row">
                            <div class="input-field col s12">
                              <label for="text">Email</label>
                              <input type="text" class="validate" name="email" id="email" required/>
                            </div>
                            <div class="input-field col s12">
                              <label for="password">Password </label>
                              <input type="password" class="validate" name="password" id="password" required />
                            </div>
                          </div>
                        </div>
                        <div class="card-action right-align">
                          <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                          <input type="submit" name="login" id="login" class="btn teal waves-effect waves-light" value="Login">
                        </div>
                      </form>
                    </div>
                  </div>
      </section>
</body>